body {
  min-width: 1200xp;
}

#page {
  width: 940px;
}
a#back_index {
  width: 80px;
  height: 50px;
  display: block;
  position: absolute;
  background: white;
  margin-left: -131px;
  margin-top: 25px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: gray;
  font-weight: bold;
  box-shadow: -10px 0 50px #ccc;
  border-right: 1px dotted silver;
}
a#back_index:hover {
  color: #333;
}
a#back_index:after {
  position: absolute;
  content: ' ';
  right: -40px;
  bottom: -20px;
  top: -20px;
  width: 39px;
  background-color: white;
}
section > * {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.2em;
}
section a {
  text-decoration: none;
  color: gray;
}
section a:hover {
  color: #333;
}

/* params */
#params {
  text-align: center;
}
#params.big a.big, #params.small a.small, #params.list a.list, #params.scales a.scales {
  color: black;
  font-weight: bold;
}

/* images */
#images {
  text-align: center;
}
#images a {
  text-align: center;
}
#images.big a {
  display: block;
  margin: 20px auto;
}
#images.small a {
  display: inline-block;
  margin: 20px;
}
#images img {
  border: 1px solid white;
  box-shadow: 0 0 20px gray;
}
#images.big img {
  max-width: 800px;
}
#images.small img {
  max-height: 64px;
}
#images #noimages {
  margin: 30px auto;
}
#images.list a, #images.scales a {
  display: inline-block;
  width: 350px;
  margin: 20px 20px;
}
#images.list img, #images.scales img {
  display: block;
  width: 100%;
}
#images.list.ex a, #images.scales.ex a {
  display: inline-block;
  margin: 20px 10px;
  width: 400px;
  height: 400px;
}
#images.list.ex img, #images.scales.ex img {
  height: 100%;
  width: auto;
  display: block;
  margin: auto auto;
}
#images.list.ex img.tall, #images.scales.ex img.tall {
  height: 100%;
  width: auto;
}
#images.list.ex img.wide, #images.scales.ex img.wide {
  height: auto;
  width: 100%;
}
/* selectors */
#images .selector {
  display: inline-block;
}
#images br {
  display: block;
  height: 5px;
  margin: 0;
  padding: 0;
}
