body {
  min-width: 1200xp;
}

#page {
  width: 940px;
}
a#back_index {
  width: 80px;
  height: 50px;
  display: block;
  position: absolute;
  background: white;
  margin-left: -131px;
  margin-top: 25px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: gray;
  font-weight: bold;
  box-shadow: -10px 0 50px #ccc;
  border-right: 1px dotted silver;
}
a#back_index:hover {
  color: #333;
}
a#back_index:after {
  position: absolute;
  content: ' ';
  right: -40px;
  bottom: -20px;
  top: -20px;
  width: 39px;
  background-color: white;
}
section > * {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.2em;
}
section a {
  text-decoration: none;
  color: gray;
}
section a:hover {
  color: #333;
}
