<!DOCTYPE html>
<html>
  <head profile="http://gmpg.org/xfn/11">
  {% block head %}
  <title>{% block title %}Texture Synthesis Project{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <base href="http://projects.wox-xion.ch/2014/texsynth/">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="style/main.css" />
  {% endblock %}
  </head>
  <body>
    <div id="page">
      {% block page %}{% endblock %}
      <footer>
        <a class="contactme" href="http://news.wox-xion.ch/contact">Contact me</a>
      </footer>
    </div>
  </body>
</html>
