{% extends "base.html" %}

{% block head %}
{{ parent() }}
<!-- styles -->
<link rel="stylesheet" href="style/page.css" />

<!-- scripts -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<link rel="stylesheet" href="libs/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="libs/fancybox/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
// data
var offline_targets = [];
var offline_values  = [];
var use_masks = {{ attribute(params, 'use_masks') is defined ? params.use_masks : true }};
{% if attribute(params, 'scale') is defined %}
offline_targets.push('scale');
offline_values.push('{{ params.scale }}');
{% endif %}
{% if attribute(params, 'use_masks') is defined %}
offline_targets.push('use_masks');
offline_values.push('{{ params.use_masks }}');
{% endif %}
{% if has_params %}
var explore_params = [];
var explore_values = {};
  {% for pname in explore_names %}
    {% if attribute(params, pname) is defined %}
    offline_targets.push('{{ pname }}');
    offline_values.push('{{ attribute(params, pname) }}');
    {% endif %}
  explore_params.push('{{ pname }}');
  explore_values['{{ pname }}'] = "{{ attribute(explore_values, pname) | join('_') }}".split('_');
  {% endfor %}
var valid_dirs = {
  {% for d in valid_dirs %}'{{ d | trimpath(3) }}': true{{ loop.last ? '' : ',' }} {% endfor %}
};
{% endif %}

// gallery
$(function(){
  $('#images > a').fancybox({
    nextEffect: 'none', prevEffect: 'none'
  });
  $('#text a.img').fancybox({
    nextEffect: 'none', prevEffect: 'none'
  });
  var $text = $('#text');
  if($text.height() > 200) {
    $text.addClass('oversized').find('#textswitch, #textoverlay').addClass('needed');
  }
{% if has_masks %}
  $('#images img').hover(function(){
    if(!use_masks || $(this).attr('src').indexOf('/s0/') != -1 || $(this).hasClass('s0')) return;
    var src = $(this).attr('src');
    if(src.substring(src.length - 3) == 'jpg') {
      src = src.replace('.jpg', '.png');
      this.replaced = true;
    }
    $(this).attr('src', src.replace('{{ path }}/images/', '{{ path }}/masks/'));
  }, function() {
    var src = $(this).attr('src');
    if(this.replaced) src = src.replace('.png', '.jpg');
    $(this).attr('src', src.replace('{{ path }}/masks/', '{{ path }}/images/'));
  });
{% endif %}
{% if class == 'small' %}
{% set init_size = attribute(params, 'size') is defined ? params.size : (images|length > 30 ? 64 : (images|length > 9 ? 128 : 256)) %}
  var value = '{{ init_size }}px';
  $('#images img').css({
    'height': value, 'max-height': value,
    'width': value, 'max-width': value
  });
{% endif %}
{% if has_params %}
  // updateParamOptions();
{% endif %}
});

// our functions
function paramSelect(targets, values) {
  targets = offline_targets.concat(targets);
  values = offline_values.concat(values);
  var path = "./{{ path }}/{{ class }}/";
  for (var i = 0, n = targets.length; i < n; ++i) {
    path += values.length ? targets[i] + ':' + values[i] + '/' : targets[i] + '/';
  }
  window.location.href = path;
}
function isScale(str) {
  return str.length > 1 && str.length < 4 && str.charAt(0) == 's' && parseInt(str.substring(1)) == str.substring(1);
}
function paramChange(target, value, add) {
  // store the parameter value so that links take it into account
  var done = -1;
  var oldValue = '';
  for(var i = 0, n = offline_targets.length; i < n; ++i){
    if(offline_targets[i] == target){
      oldValue = offline_values[i];
      if(add) {
        offline_values[i] = value;
      }
      done = i;
      break;
    }
  }
  if(done < 0){
    if(add){
      offline_targets.push(target);
      offline_values.push(value);
    }
  } else if(!add){
    offline_targets.splice(done, 1);
    offline_values.splice(done, 1);
  }
  var idx;
  if(target == 'scale'){
    var linkChange = function(index, href){
      var tokens = href.split('/');
      var found = false;
      var start = -1;
      var count = 0;
      for(var i = 0; i < tokens.length; ++i){
        if(isScale(tokens[i])){
          if(!found) {
            found = true;
            start = i;
          }
          ++count;
        }
      }
      // remove the ones we found
      if(found) tokens.splice(start, count);
      // possibly add the one we need
      var realValue = value;
      if(realValue == 's0' && $(this).hasClass('ex')) {
        realValue = 's1'; // convert 's0' into 's1' for exemplars
      }
      if(add) tokens.splice(-1, 0, realValue);
      return tokens.join('/');
    };
    $('#images a').attr('href', linkChange);
    $('#images img').attr('src', linkChange);
    if(oldValue) $('#images img').removeClass(oldValue);
    if(add) $('#images img').addClass(value);
  } else if(target == 'use_masks') {
    use_masks = value;
  } else if(target == 'image_size') {
    $('#images img').css({
      'height': value, 'max-height': value,
      'width': value, 'max-width': value
    });
  } else if((idx = $.inArray(target, explore_params)) != -1) {
    // this is a synthesis parameter => links change
    var linkChange = function(index, href) {
      var tokens = href.split('/');
      var index = -1;
      for(var i = 0; i < tokens.length; ++i) {
        // try each possible value
        for(var j = 0, n = explore_values[target].length; j < n; ++j) {
          if(tokens[i] == target + explore_values[target][j]){
            index = i;
            break;
          }
        }
      }
      if(index != -1) tokens.splice(index, 1);
      tokens.splice(index, 0, target + value);
      return tokens.join('/');
    };
    $('#images a').attr('href', linkChange);
    $('#images img').attr('src', linkChange);
  }
}
function showText(link){
  var $text = $('#text');
  $text.toggleClass('full');
  if($text.hasClass('full')){
    $(link).text('Hide');
  } else {
    $(link).text('Show');
  }
}
{% if has_params %}
function isValid(values) {
  var path = [].concat(explore_params);
  for(var i = 0; i < values.length; ++i){
    path[i] += values[i];
  }
  return valid_dirs[path.join('/')];
}
function updateParamOptions(cur) {
  var options = getParamOptions(cur);
  {% for pname in explore_names %}
  $('#param_explorer #explore_{{ pname }} option').attr('selected', function(){
    var this_value = $(this).attr('value');
    return options[{{ loop.index0 }}] == this_value;
  });
  {% endfor %}

}
function getParamOptions(cur) {
  var current = [ {% for pname in explore_names %}
  $('#param_explorer #explore_{{ pname }} option:selected').attr('value') {{ loop.last ? '' : ',' }} 
  {% endfor %}];

  // if it's valid, we're ok
  if(isValid(current)) return current;

  // otherwise, we must change it
  for(var i = explore_params.length - 1; i >= 0; --i){
    if(i == cur) continue;
    var param = explore_params[i];
    for(var j = 0, n = explore_values[param].length; j < n; ++j){
      var new_values = [].concat(current);
      new_values[i] = explore_values[param][j];
      if(isValid(new_values)){
        return new_values;
      }
    }
  }

  /*
  {% for pname in explore_names %}
  $('#param_explorer #explore_{{ pname }} option').attr('disabled', function(index){
    var path = [].concat(current); // copy
    var this_value = $(this).attr('value');
    for(var i = 0; i < path.length; ++i){
      path[i] = explore_params[i] + ({{ loop.index0 }} == i ? this_value : path[i]);
    }
    path = path.join('/');
    console.log('for {{ pname }} :' + path);
    return valid_dirs[path];
  });
  {% endfor %}
  */
  return current;
}
{% endif %}
</script>
{% endblock %}

{% block page %}
<a href="." id="back_index">Index</a>
<h1>{{ title }}</h1>
<section id="text">
  <a id="textswitch" onclick="showText(this);">Show</a>
  <div id="textoverlay"></div>
  {{ text | raw }}
</section>
<section id="params" class="{{ class }}">
  {% if 'small'   in options %} <a href="./{{ path }}/small" class="small">All textures</a>{% endif %}
  {% if 'list'    in options %} <a href="./{{ path }}/list" class="list">By texture</a>{% endif %}
  {% if 'sets'    in options %} <a href="./{{ path }}/sets" class="sets">By texture set</a>{% endif %}
  {% if 'scales'  in options %} <a href="./{{ path }}/scales" class="scales">All scales</a>{% endif %}
  {% if 'video'   in options %} <a href="./{{ path }}/" class="video">Video</a>{% endif %}
</section>
<section id="images" class="{{ class }}{{ exemplar is defined ? ' ex' }}">
{% if class == 'small' %}
{% set need_br = true %}
{% set init_size = attribute(params, 'size') is defined ? params.size : (images|length > 30 ? 64 : (images|length > 9 ? 128 : 256)) %}
  <div id="sizeselector" class="selector">
    <label for="image_size">Size</label>
    <select id="image_size" onchange="paramChange('image_size', this.value, false);">
      {% set image_sizes = [64, 128, 256, 512] %}
      {% for size in image_sizes %}
      <option value="{{ size }}px" {{ init_size == size ? 'selected' }}>{{ size }} px</option>
      {% endfor %}
    </select>
  </div>
{% endif %}
{% if image_base is defined %}
{% set need_br = true %}
  <!-- single image with file selector -->
  <div id="imselector" class="selector">
    <label for="image_base">Texture</label>
    <select id="image_base" onchange="paramSelect('image_base', this.value);">
    {% for opt_image in images %}
    <option value="{{ opt_image | filename('-im') }}"{{ opt_image == image.file or opt_image|filename == image_base ? ' selected' }}>{{ opt_image | filename('-im') }}</option>
    {% endfor %}
    </select>
  </div>
{% endif %}

{% if has_scales and class != 'scales' %}
{% set need_br = true %}
  <div id="scaleselector" class="selector">
    <label for="scales_list">Scales</label>
    <select id="scales_list" onchange="paramChange('scale', this.value, this.value != 'full');">
      <option value="full" {{ attribute(params, 'scale') is not defined ? 'selected' }}>Full</option>
    {% for scale in scales %}
      <option value="{{ scale }}" {{ attribute(params, 'scale') is defined and params.scale == scale ? 'selected' }}>{{ scale }}</option>
    {% endfor %}
    </select>
  </div>
{% endif %}

{% if has_masks %}
{% set need_br = true %}
  <div id="maskselector" class="selector">
    <label for="use_masks">Masks</label>
    <input type="checkbox" id="use_masks" name="use_masks" onclick="paramChange('use_masks', this.checked, !this.checked);"{{ attribute(params, 'use_masks') is not defined ? ' checked' }} />
  </div>
{% endif %}

{% if need_br %}
  <br />
{% endif %}

{% if has_params %}
<div id="param_explorer">
  {% for pname in explore_names %}
  <div class="selector">
    <label for="explore_{{ pname }}">{{ pname }}</label>
    <select id="explore_{{ pname }}" onchange="paramChange('{{ pname }}', this.value, this.value != '{{ attribute(explore_values, pname)[0] }}')">
    {% for pval in attribute(explore_values, pname) %}
      <option value="{{ pval }}"{{ attribute(params, pname) is defined and attribute(params, pname) == pval ? 'selected' }}>{{ pval | trimname }}</option>
    {% endfor %}
    </select>
  </div>
  {% endfor %}
</div>
{% endif %}


{% if image_base is defined %}
<!-- main exemplar and image -->
  {# look for params.scale, not just has_scales since scale='' doesn't happen #}
  {% set scale = attribute(params, 'scale') is defined ? params['scale'] %}
  {% if exemplar is defined %}
    {% set ex_scale = scale == 's0' ? 's1' : scale %}
    <a href="{{ exemplar.file | scalepath(ex_scale) }}" rel="gallery" title="exemplar" class="ex"><img src="{{ exemplar.file | scalepath(ex_scale) | fast_image(class == 'small') }}" title="exemplar" class="{{ exemplar.width > exemplar.height ? 'wide' : 'tall' }} ex {{ scale }}" /></a>
  {% endif %}
    <a href="{{ image.file | scalepath(scale) }}" rel="gallery" title="{{ image_base }}" class="im"><img src="{{ image.file | scalepath(scale) | fast_image(class == 'small') }}" title="{{ image_base }}" class="{{ image.width > image.height ? 'wide' : 'tall' }} im {{ scale }}" /></a>

  <!-- set -->
  {% if class == 'sets' %}
    {% for img in set_images %}
      <a href="{{ img.file }}" rel="gallery" title="{{ img.filename }}" class="im"><img src="{{ img.file | fast_image(class == 'small') }}" title="{{ img.filename }}" class="{{ img.width > img.height ? 'wide' : 'tall' }} im" /></a>
    {% endfor %}
  {% endif %}

  <!-- scales -->
  {% if class == 'scales' %}
    {% for scale in scales %}
      {% if exemplar is defined and scale != 's0' %}
        <a href="{{ exemplar.file | scalepath(scale) }}" rel="gallery" title="exemplar at scale {{ scale }}" class="ex"><img src="{{ exemplar.file | scalepath(scale) | fast_image(class == 'small') }}" title="exemplar at scale {{ scale }}" class="{{ exemplar.width > exemplar.height ? 'wide' : 'tall' }} ex {{ scale }}" /></a>
      {% endif %}
      {% set scale_title = (scale == 's0') ? 'Initial ' ~ image_base : image_base ~ ' at scale ' ~ scale %}
      <a href="{{ image.file | scalepath(scale) }}" rel="gallery" title="{{ scale_title }}" class="im"><img src="{{ image.file | scalepath(scale) | fast_image(class == 'small') }}" title="{{ scale_title }}" class="{{ image.width > image.height ? 'wide' : 'tall' }} im {{ scale }}" /></a>
    {% endfor %}
  {% endif %}

{% else %}
  <!-- many images -->
  {% for image in images %}
    <a href="{{ image }}" rel="gallery" title="{{ image | filename }}"><img src="{{ image | fast_image(class == 'small') }}" title="{{ image | filename }}" /></a>
  {% else %}
    <div id="noimages">
      No image yet!
    </div>
  {% endfor %}
{% endif %}
</section>
{% endblock %}
