{% extends "base.html" %}

{% block head %}
{{ parent() }}
<!-- styles -->
<link rel="stylesheet" href="style/page.css" />

<!-- scripts -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<link rel="stylesheet" href="libs/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="libs/fancybox/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
// gallery
$(function(){
  $('#images > a').fancybox({
    nextEffect: 'none', prevEffect: 'none'
  });
  });
//
var offline_targets = [];
var offline_values  = [];
{% if attribute(params, 'scale') is defined %}
offline_targets.push('scale');
offline_values.push('{{ params.scale }}');
{% endif %}
// our functions
function paramSelect(targets, values) {
  // TODO take care of the non-changing part of arguments (scales? params?)
  targets = offline_targets.concat(targets);
  values = offline_values.concat(values);
  var path = "./{{ path }}/{{ class }}/";
  for (var i = 0, n = targets.length; i < n; ++i) {
    path += values.length ? targets[i] + ':' + values[i] + '/' : targets[i] + '/';
  }
  window.location.href = path;
}
function isScale(str) {
  return str.length > 1 && str.length < 4 && str.charAt(0) == 's' && parseInt(str.substring(1)) == str.substring(1);
}
function paramChange(target, value, add) {
  // store the parameter value so that links take it into account
  var done = -1;
  for(var i = 0, n = offline_targets.length; i < n; ++i){
    if(offline_targets[i] == target){
      if(add) {
        offline_values[i] = value;
      }
      done = i;
      break;
    }
  }
  if(done < 0){
    if(add){
      offline_targets.push(target);
      offline_values.push(value);
    }
  } else if(!add){
    offline_targets.splice(done, 1);
    offline_values.splice(done, 1);
  }
  if(target == 'scale'){
    var linkChange = function(index, href){
      var tokens = href.split('/');
      var found = false;
      var start = -1;
      var count = 0;
      for(var i = 0; i < tokens.length; ++i){
        if(isScale(tokens[i])){
          if(!found) {
            found = true;
            start = i;
          }
          ++count;
        }
      }
      // remove the ones we found
      if(found) tokens.splice(start, count);
      // possibly add the one we need
      if(add) tokens.splice(-1, 0, value);
      return tokens.join('/');
    };
    $('#images a').attr('href', linkChange);
    $('#images img').attr('src', linkChange);
  }
}
</script>
{% endblock %}

{% block page %}
<a href="." id="back_index">Index</a>
<h1>{{ title }}</h1>
<section id="text">
  {{ text | raw }}
</section>
<section id="params" class="{{ class }}">
  {% if 'big'     in options %} <a href="./{{ path }}/big" class="big">Big</a>{% endif %}
  {% if 'small'   in options %} <a href="./{{ path }}/small" class="small">Small</a>{% endif %}
  {% if 'list'    in options %} <a href="./{{ path }}/list" class="list">List</a>{% endif %}
  {% if 'scales'  in options %} <a href="./{{ path }}/scales" class="scales">Scales</a>{% endif %}
  {% if 'video'   in options %} <a href="./{{ path }}/" class="video">Video</a>{% endif %}
</section>
<section id="images" class="{{ class }}{{ exemplar is defined ? ' ex' }}">
{% if image_base is defined %}
  <!-- single image with file selector -->
  <div id="imselector">
    <label for="image_base">Texture</label>
    <select id="image_base" onchange="paramSelect('image_base', this.value);">
    {% for opt_image in images %}
    <option value="{{ opt_image | filename('-im') }}"{{ opt_image == image.file ? ' selected' }}>{{ opt_image | filename('-im') }}</option>
    {% endfor %}
    </select>
  </div>

  {% if class == 'list' and scales is defined %}
  <div id="scaleselector">
    <label for="scales_list">Scales</label>
    <select id="scales_list" onchange="paramChange('scale', this.value, this.value != 'full');">
      <option value="full" {{ attribute(params, 'scale') is not defined ? 'selected' }}>Full</option>
    {% for scale in scales %}
      <option value="{{ scale }}"{{ attribute(params, 'scale') is defined and params.scale == scale ? 'selected' }}>{{ scale }}</option>
    {% endfor %}
    </select>
  </div>
  {% endif %}

  <br />

  
  <!-- main exemplar and image -->
  {% set scale = attribute(params, 'scale') is defined ? params['scale'] %}
  {% if exemplar is defined %}
    <a href="{{ exemplar.file | scalepath(scale) }}" rel="gallery" title="exemplar"><img src="{{ exemplar.file | scalepath(scale) }}" title="exemplar" class="{{ exemplar.width > exemplar.height ? 'wide' : 'tall' }}" /></a>
  {% endif %}
  <a href="{{ image.file | scalepath(scale) }}" rel="gallery" title="{{ image_base }}"><img src="{{ image.file | scalepath(scale) }}" title="{{ image_base }}" class="{{ exemplar.width > exemplar.height ? 'wide' : 'tall' }}" /></a>
  

  <!-- scales -->
  {% if class == 'scales' %}
    {% for scale in scales %}
      {% if exemplar is defined %}
        <a href="{{ exemplar.file | scalepath(scale) }}" rel="gallery" title="exemplar at scale {{ scale }}"><img src="{{ exemplar.file | scalepath(scale) }}" title="exemplar at scale {{ scale }}" class="{{ exemplar.width > exemplar.height ? 'wide' : 'tall' }}" /></a>
      {% endif %}
      <a href="{{ image.file | scalepath(scale) }}" rel="gallery" title="{{ image_base }} at scale {{ scale }}"><img src="{{ image.file | scalepath(scale) }}" title="{{ image_base }} at scale {{ scale }}" class="{{ exemplar.width > exemplar.height ? 'wide' : 'tall' }}" /></a>
    {% endfor %}
  {% endif %}

{% else %}
  <!-- many images -->
  {% for image in images %}
    <a href="{{ image }}" rel="gallery" title="{{ image | filename }}"><img src="{{ image }}" title="{{ image | filename }}" /></a>
  {% else %}
    <div id="noimages">
      No image yet!
    </div>
  {% endfor %}
{% endif %}
</section>
{% endblock %}
